<h1>Aboot</h1>
<p><ins>FER_Helper</ins> a.k.a <b>Foreign Exchange Rates Helper</b></p>
<div class="row">
	<div class="col-sm-5">
		<pre>本程式利用Ruby進行網路爬蟲抓取<a href ="http://rate.bot.com.tw/xrt?Lang=zh-TW">台銀牌告匯率資訊</a>並匯出分析的報表</pre>
		  <dl>
		    <dt>作者:</dt>
		    <dd> - 謝宗翰 Tom Hsieh</dd>
		    <dt>Email:</dt>
		    <dd> - yous421@gmail.com</dd>
		    <dt>Github:</dt>
		    <dd> - <a href="https://github.com/tom50708/fer">按我</a></dd>
		    <dt>感謝:</dt>
		    <dd> - <a href="http://train.csie.ntu.edu.tw/train/">台大資訊系統訓練班</a> Ruby On Rails 基礎班</dd>
		  </dl>
	</div>
	<div class="col-sm-6">
	</div>
</div>