<h1>Aboot</h1>
<p><ins>FER_Helper</ins> a.k.a <b>Foreign Exchange Rates Helper</b></p>
<div class="row">
	<div class="col-sm-5">
		<pre>本程式利用Ruby進行網路爬蟲抓取<a href ="http://rate.bot.com.tw/xrt?Lang=zh-TW">台銀牌告匯率資訊</a>並匯出分析的外匯報表</pre>
		  <dl>
		    <dt>作者:</dt>
		    <dd> - 謝宗翰Tom Hsieh</dd>
		    <dt>Email:</dt>
		    <dd> - yous421@gmail.com</dd>
		    <dt>參考:</dt>
		    <dd> - <a href="https://github.com/tom50708/fer">Github</a></dd>
		  </dl>
	</div>
<div class="col-sm-6">
</div>
</div>