# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 1f6aae61a8891cf9605d34829d7994fc5b0a80595e118ee296bf977d0f24ce7089ea3ccb4847ca38c50cbf54409dbf34cd1e0dd45e517877dc8301e3dd8c308c

test:
  secret_key_base: c732865e47b42c396987776f1b76d16cad21f9b6358a18c5a36a9dcd32af5966fafd2e0a85c92e2cb9cf6e41587965b549d1a7ff051a405e19df6c20c2d8c36e

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
